{% extends "base.html" %}

{% block page_content %}
<h1>Profile page</h1><br><br>
<form action="/user/profile/" method="post">
    {% csrf_token %}
    <table border="1">
        {{ form }}
    </table>
    <input type="submit" Value="Save" name="Settings">
</form>
<a href='/user/calendar/'>Calendar <br /></a>
<a href='/accounts/logout/'>Logout <br /></a>

<h2>
    Favorite recipes:
</h2>

<form action="/user/profile/" method="post">
    {% csrf_token %}
    {{ form_delete }}
    <input type="submit" Value="Delete" name="Delete Recipe">
</form>

<div>
{% for recipe in recipes %}
    <div>
        <a href='/recipe/{{ recipe.recipe_id }}'>{{ recipe.recipe_name }}</a>
        <p>ID: {{ recipe.recipe_id }}</p>
        <br />
    </div>
{% endfor %}
</div>
{% endblock %}