{% extends "base.html" %}{% load static %}

{% block page_content %}
<link rel="stylesheet" href="{% static 'landing.css' %}{% now 'U' %}"">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<div style="text-align: center;">
    <div>
        <h1>Welcome to Chef Prep</h1>
    </div>
</div>
<div style="padding-top: 20px;">
    <span class="dot"> stockImage</span>
    <span class="dot"> stockImage</span>
    <span class="dot"> stockImage</span>
    </div>
    <div style="padding-top: 20px;">
        
        </div>


</body>
{% endblock %}